*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
background-color:cadetblue !important;
    
}

#calculator{
position: relative;
max-width: 30vw;
width: 100%;
border: 1px  solid black ;
border-radius: 12px;
background-color:lavender;
padding: 10px


}

.display{
    width: 28vw;
    height:8vh ;
    margin-bottom: 10px;
   border-radius: 10px !important;
   padding: 10px !important;
   font-size: larger;
   
}

.button{
    size: 2em;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}
button{
    border-radius: 10px !important;
}
#title{
    text-align: center;
    margin-top: 30px;
   
}
#description{
    text-align:center;
   margin-top: 10px;
}
.container{
    margin-left: 25em !important;
    margin-top: 4em !important;
    background-color: aqua !;
}